.footer {
  position: relative;
  bottom: 0;
  background-color: hsla(30,50%,70%,0.2);
}

.footer a {
  color: #555;
  margin-bottom: 30px;
}

.footer i {
  margin-top: 30px;
}

.footer #link {
  font-family: Arial Rounded MT Bold;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 30px;
}
