#backgroundimage img {
  opacity: .7;
  width: auto;
  height: auto;
}

#backgroundimage {
  background-color: transparent;
}

#backgroundimage h1 {
  position: absolute;
  left: 0;
  top: 23%;
  width: 100%;
  text-align: center;
  color: black;
  font-family: Tangerine;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 6em;
  text-shadow: -2px 2px 100px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1);
}

#description h2 {
  padding-top: 50px;
  text-align: center;
  font-family: Tangerine;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 5em;
  color: grey;
}

#description p {
  text-align: justify;
  text-indent: 50px;
  font-family: Comic Sans MS;
  font-size: 1.5em;
  color: grey;
  padding-bottom: 25px;
}

#sheffield h2 {
  padding-top: 50px;
  text-align: center;
  font-family: Tangerine;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 5em;
  color: grey;
}

#sheffield p {
  text-align: justify;
  text-indent: 50px;
  font-family: Comic Sans MS;
  font-size: 1.5em;
  color: grey;
  padding-bottom: 25px;
}

#detail {
  font-size: 15px;
  text-align: center;
  font-family: Comic Sans MS;
  color: dimgrey; 
  padding:10px;
  border-radius: 20px;
  background-color: transparent;
  margin-top: 10px;
}

#detail:hover {
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
}

#hallam h2 {
  padding-top: 50px;
  text-align: center;
  font-family: Tangerine;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 5em;
  color: grey;
}

#hallam p {
  text-align: justify;
  text-indent: 50px;
  font-family: Comic Sans MS;
  font-size: 1.5em;
  color: grey;
  padding-bottom: 25px;
}

.imageDemo img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: imageD 6s;
  animation: imageD 6s;
}
@-webkit-keyframes imageD {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes imageD {
    from {opacity: 0;}
    to {opacity: 1;}
}

#img-1 img {
  height: 180px;
  width: 220px;
  margin-top: 50px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

#img-2 img {
  height: 180px;
  width: 220px;
  margin-top:150px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

#img-3 img {
  height: 180px;
  width: 240px;
}

#img-4 img {
  height: 180px;
  width: 220px;
  margin-top:50px;
  margin-left: 10px;
}

#img-5 img {
  height: 180px;
  width: 240px;
  margin-top:50px;
}

#img-6 img {
  height: 180px;
  width: 220px;
  margin-top: 50px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

#img-7 img {
  height: 180px;
  width: 220px;
  margin-top: 150px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
