#help h2 {
  margin: 0;
  padding: 3%;
  text-align: center;
  font-family: Tangerine;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 5em;
  color: black;
  background-color: hsla(30,50%,70%,0.2);
}

#panel {
  margin-top: 1%; 
  border: 3px solid lightgray; 
  border-radius: 6px;
}

#panel .panel-heading {
  background-color: #ADD8E6; 
  padding: 5px;
  padding-left: 10%;
}

#panel .panel-body {
  width:100%;
  height: all;
}

#help table {
  border: 1.5px solid gray; 
}

#titleTopic {
  padding-left: 3%;
  font-size: 15px;
  font-family: Comic;
  text-align: left;
}

#titleTime {
  text-align: right;
  font-family: Comic;
  font-size: 13px;
  padding-right: 7%;
}

#topic {
  text-align: left;
  font-family: Comic;
  font-size: 17px;
  padding-left: 2%;
}

#time {
  text-align: right;
  font-family: Comic;
  font-size: 15px;
  padding-right: 5%;
}

#postB:hover {
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
  visibility: visible;
}

#postB {
  font-size: 15px;
  text-align: center;
  font-family: Comic Sans MS;
  color: dimgrey; 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 72%;
}

#post {
  font-size: 12px;
  text-align: center;
  font-family: Comic Sans MS;
  font-weight: bold;
  color: dimgrey; 
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: transparent;
}

